* {
  font-size: 1.35vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans'; }

html, body, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  position: relative; }

#company-info {
  margin-top: 3vh; }

#request {
  margin-top: 3vh; }

#indicators {
  margin-top: 3vh; }

.result {
  padding: 2vh 0 5vh 0; }

.sidebarr {
  position: absolute; }

.nav-sidebar {
  margin-top: 1.5vh;
  font-size: 1.4vh;
  color: #808080; }
  .nav-sidebar a {
    cursor: pointer;
    color: #808080; }

.hide {
  display: none; }

p {
  margin-bottom: 0; }

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px; }

.img-logo {
  display: flex;
  justify-content: flex-start;
  width: 75%; }
  .img-logo img {
    width: 80%; }

.burger-logo {
  display: flex;
  justify-content: start;
  width: 25%; }
  .burger-logo img {
    width: 40%; }

.section-info {
  padding: 0 4vh 0 4vh; }

.item-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px; }

/*===============company===============*/
.ts-title {
  display: flex;
  margin-top: 1.2vh;
  margin-bottom: 1.2vh; }
  .ts-title span.img {
    display: flex;
    align-items: center; }
    .ts-title span.img img {
      height: 1.5vh; }
  .ts-title span.ts-text {
    font-size: 1.5vh;
    font-weight: bold;
    color: #79849F;
    margin-left: 15px; }

#title-company {
  font-size: 14px;
  font-weight: bold; }

.request-title {
  display: flex;
  margin-top: 10px;
  margin-bottom: 1.2vh; }
  .request-title span.img {
    display: flex;
    align-items: center; }
    .request-title span.img img {
      height: 1.5vh; }
  .request-title span.text {
    font-size: 1.5vh;
    font-weight: bold;
    color: #79849F;
    margin-left: 15px; }

.div-transport {
  margin: 1.2vh 0 1.2vh 0; }

.indicators-title {
  display: flex;
  margin-top: 10px;
  margin-bottom: 1.2vh; }
  .indicators-title span.img {
    display: flex;
    align-items: center; }
    .indicators-title span.img img {
      height: 1.5vh; }
  .indicators-title span.text {
    font-size: 1.5vh;
    font-weight: bold;
    color: #79849F;
    margin-left: 15px; }

.item-bar {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .item-bar .ilia {
    width: 6.5vh;
    height: 6.5vh; }
  .item-bar .cirk {
    width: 6.5vh;
    margin-left: 0 !important;
    height: 6.5vh; }

.div-bar-text {
  margin-left: 40px; }

.circle {
  height: 100%;
  width: 100%;
  position: absolute; }

.p-bar {
  position: absolute; }

.span-h3-filial img {
  height: 2vh; }
.span-h3-filial .p-type-transport {
  font-size: 1.5vh; }

/*===============department===============*/
.title-department {
  display: flex;
  flex-direction: row; }
  .title-department .title-department-text {
    font-size: 1.5vh; }

.level-menu .text-level-menu {
  font-size: 1vh;
  color: #808080; }
.level-menu img {
  margin-left: 2px;
  height: 5px; }

.bb-cluster-car {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 60px; }
  .bb-cluster-car .bb-num {
    width: 60px;
    height: 60px;
    color: #004781;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/elipse_white.svg");
    background-size: 100%;
    background-position: center;
    z-index: 10;
    font-size: 1vh; }

.bb-num-car-white {
  width: 60px;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/elipse.svg");
  background-size: 100%;
  background-position: center;
  z-index: 10;
  font-size: 1vh; }
  .bb-num-car-white svg {
    width: 130%; }

.bb-num-car {
  width: 60px;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/elipse_white.svg");
  background-size: 100%;
  background-position: center;
  z-index: 10;
  font-size: 1vh; }
  .bb-num-car svg {
    width: 130%; }

.bb-cluster {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100px;
  z-index: 0; }
  .bb-cluster .bb-num {
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/elipse.svg");
    background-size: 100%;
    background-position: center;
    z-index: 10;
    font-size: 1vh; }

.bb {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  min-width: 200px;
  margin-top: -80px;
  z-index: 0;
  margin-left: 75px;
  position: relative; }
  .bb .bb-num {
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/elipse.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    font-size: 1vh; }
  .bb .bb-name {
    position: absolute;
    margin-left: 25px;
    z-index: 1;
    min-width: 50px;
    height: 40px;
    background-color: white;
    font-size: 1vh;
    display: flex;
    font-weight: bold;
    align-items: center;
    padding: 0 25px 0 45px;
    box-shadow: 0 3px 10px rgba(4, 67, 154, 0.12);
    text-align: left;
    box-sizing: content-box;
    flex-grow: 1; }

.hr-trans {
  margin-top: 3px;
  margin-bottom: 3px; }

.transport-title {
  display: flex;
  align-items: center; }
  .transport-title span img {
    height: 1.5vh; }
  .transport-title p {
    font-size: 1.5vh;
    margin-left: 7px;
    color: #004781; }

.transort-department {
  display: flex;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  height: 3vh;
  align-items: center; }
  .transort-department:hover {
    background-color: #004781; }
    .transort-department:hover .transport-title p {
      color: white; }
    .transort-department:hover .p-quantity {
      color: white; }

.indicators-title .text {
  font-size: 1.5vh; }

.figures {
  color: #949494; }

.span-figures-2nd {
  font-size: 2.2vh;
  font-weight: bold; }

.indic-bot {
  margin-top: 3.5vh;
  display: flex;
  justify-content: flex-start; }
  .indic-bot:first-child {
    margin-left: 0; }
  .indic-bot .div-meanings {
    margin-left: 3vh; }

/*===============ts=====================*/
.title-ts {
  display: flex;
  flex-direction: row;
  margin-top: 1.5vh; }
  .title-ts .title-ts-text {
    font-size: 14px; }

.text-level-menu {
  cursor: pointer; }
  .text-level-menu:hover {
    text-decoration: underline; }

.route-title {
  margin-top: 3.5vh;
  display: flex;
  align-items: center; }
  .route-title span img {
    width: 13px; }

#route .item-info p {
  font-size: 13px; }

.img-distance {
  max-width: 17px; }

.item-distance {
  display: flex;
  align-items: center;
  margin-top: 13px; }
  .item-distance .plr-col-distance {
    margin-left: 10px;
    width: 100px; }
    .item-distance .plr-col-distance .distance-figure {
      font-size: 12px;
      font-weight: bold; }

#oil {
  margin-top: 20px; }

.longlar {
  width: 130px;
  margin-left: 30px;
  border-radius: 10px;
  height: 10px; }

.ymaps-2-1-63-gotoymaps {
  display: none; }

.bbb {
  display: flex;
  align-items: center;
  height: 7.5vh; }
  .bbb .back {
    height: 50%;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 1.5vh; }

.arrow-r {
  font-size: 2.5vh;
  font-weight: bold; }

#loading {
  -webkit-animation: rotation 3s infinite linear;
  position: absolute;
  margin: 0 auto;
  z-index: 123;
  top: 50%;
  height: 10vh; }

.loading-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; }

.wrapper {
  opacity: 0.7;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100; }

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
    opacity: 0.6; }
  50% {
    opacity: 1; }
  100% {
    transform: rotate(540deg);
    opacity: 0.6; } }
/*==================ts-data======================*/
.title-ts-text {
  font-size: 1.35vh;
  display: block;
  line-height: 1; }

.text-ts {
  display: block;
  font-size: 1.7vh;
  font-weight: bold; }
  .text-ts.cross-out {
    text-decoration: line-through; }
  .text-ts.blue-color {
    color: #004781; }

.active-transport {
  background-color: #004781;
  color: white; }
  .active-transport .transport-title p {
    color: white !important; }

.item-ts-data {
  margin-top: 2.6vh; }

.ts-hr {
  margin-top: 2.6vh;
  margin-bottom: 2.6vh;
  width: 90%; }

.dada-ts-item {
  width: 170px; }

@media screen and (min-width: 3000px) {
  .dada-ts-item {
    min-width: 350px;
    margin-right: 1.2vh; } }
.d-flex {
  display: flex; }

.justify-content-between {
  justify-content: space-between; }

.flex-column {
  flex-direction: column; }

/*# sourceMappingURL=style.css.map */
